@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
/* Fonte do projeto Mostra_Nike (https://github.com/Navelogic/Mostra_Nike)*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 180, 209);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
 height: auto;
  margin: 0;
}
.btn {
  background-color: rgb(241, 233, 233);
  border-radius: 25px;
  border: solid;
  color: rgb(8, 7, 7);
  margin: 100px 1px 0px 25px;
  padding: 1.0rem 25px;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
